.ls-theme-green .ls-topbar {
	/* background-color: #003f7f!important; */
	/* box-shadow: 1px 1px 25px #0076a3; */
	/* background-color: #0037FF!important; */
	background-color: #003f7f !important;


}
.ls-theme-green .ls-brand-name {
	/* background-color: #0037FF!important; */
	background-color: #003f7f !important;
}
.ls-theme-green .ls-user-account {
	/* background: #0037FF!important; */
	background-color: #003f7f !important;
}
.ls-theme-green .ls-sidebar [class*="ls-go"] {
	background: #006332!important;
}
.ls-theme-green .ls-dropdown ul a:focus, .ls-theme-green .ls-dropdown ul a:hover {
	background-color: #006332!important;
	color: white;
}
/* .ls-main {
	background-color: #f7f7f7!important;
} */
.img-rad-home{
	border-radius: 10px;
}
/* .ls-theme-green .ls-sidebar [class*="ls-go"] {
	background: rgba(0, 63, 127, 0.82)!important;
} */
/* TELA LOGIN */
/* #tela-login{
background: url(img/log-1.jpg);
background-size: cover;
} */

/* body#tela-login{
background: url(../img/log-2.jpg) no-repeat center top fixed !important;

-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
} */
.ls-login-parent {
	/* background-color: #f7f7f7; */
	height: inherit;
	display: table;
	width: 100%;
	background: url(../img/log-1.jpg) no-repeat center top fixed !important;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover !important;

}
.ls-login-cadastro{
	height: inherit;
	display: table;
	width: 100%;
	/* background: url(../img/log-2.jpg) no-repeat center top fixed !important; */

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover !important;


}
/* BOTÃO PEDIDO */
a.btn-pedido{
	margin: 0 auto;
	display: table;
}
/* .fundo-cadastro{
background-color: #f9f9f9;
opacity: 0.4;
} */
/* .div-pai:before {
content: '';
position: absolute;
top: 0; bottom: 0;
left: 0; right: 0;
background: rgba(255,255,255, 0.3);
background: #f9f9f9;

}
.
.cadastro{
color: ;
}
*/
form.cadastro{
	width: 620px;
	background: #f9f9f9;
	/* box-shadow: 0 1px 3px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.50);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1); */
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);	
	padding: 10px;
	padding-bottom: 40px;
	padding-top: 20px;
}
.div-pai{
/* margin: 0 auto; 
display: table; */
/* width: 100%; */
margin: 0 auto;	
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
fieldset.btn-pad-cadastro{
	/* padding: 20px;	 */
  /* margin: 0 auto;
  display: table; */
  margin: 0 auto;	
  /* position: absolute; */
  /* top: 50%;
  left: 50%;
  transform: translate(15%, -50%); */
  display: table;
}
/* PEDIDO HOME */
form.pedido{
	/* width: 760px; */
	/* background: #f9f9f9; */
	/* box-shadow: 0 1px 3px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.50);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1); */
	/* box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.12);	 */
	padding: 10px;
	padding-bottom: 40px;
	padding-top: 20px;
}
.div-pai-pedido{
/* margin: 0 auto; 
display: table; */
/* width: 100%; */
margin: 0 auto;	
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);	


}
